### Sets

In [1]:
KY = {'IN', 'IL', 'WV', 'VA', 'OH', 'TN', 'MO'}

In [2]:
TN = {'KY', 'VA', 'NC', 'GA', 'AL', 'MS', 'AR', 'MO'}

In [3]:
for state in KY:
    print(f'{state}', end=' ')

IL WV VA IN MO TN OH

In [4]:
KY | TN #this is called a union, same as KY.union(TN)

{'AL', 'AR', 'GA', 'IL', 'IN', 'KY', 'MO', 'MS', 'NC', 'OH', 'TN', 'VA', 'WV'}

In [ ]:
#^ joins the two without repeats

In [5]:
KY ^ TN #joins without printing what's in common

{'AL', 'AR', 'GA', 'IL', 'IN', 'KY', 'MS', 'NC', 'OH', 'TN', 'WV'}

In [9]:
KY & TN #shows only the items that are in both sets

{'MO', 'VA'}

In [6]:
KY - TN #shows only the items that are unique to the first set

{'IL', 'IN', 'OH', 'TN', 'WV'}